<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=locals.title %>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
    </head>
    <body>
        <!--header------->
        <%- include('_header'); %>
        <!------variable part defined---------->
           <%- body %>
           <!-----footer---------->
        <%- include('_footer'); %>
       

    </body>
</html>