<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=locals.title %>
        </title>
    </head>
    <body>
        <%- include('_header'); %>
        <!------variable part defined---------->
           <%-body %>
        <%- include('_footer'); %>
       

    </body>
</html>