<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<h1>
        LEET CODING/Profile Page
</h1>
<p><%= user_profile.name %> </p>
 <p><%= user_profile.email %></p>

        <p><%= profile_users.name %></p>
        <p><%= profile_users.email %></p>