<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<h1>
        LEET CODING/Profile Page
</h1>
        <p> Name:<%= user_profile.name %> </p>
        <p> Email:<%= user_profile.email %> </p>